*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-image: url(politica.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}

.boton a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: aqua;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.boton a:hover {
    transform: scale(1.2);
}